astroid==2.12.10
asttokens==2.0.8
autopep8==1.7.0
backcall==0.2.0
click==8.1.3
debugpy==1.6.3
decorator==5.1.1
dill==0.3.5.1
entrypoints==0.4
executing==1.1.0
Flask==2.2.2
ipykernel==6.16.0
ipython==8.5.0
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jupyter-core==4.11.1
jupyter_client==7.3.5
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mccabe==0.7.0
nest-asyncio==1.5.6
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.5.2
prompt-toolkit==3.0.31
proxy-tools==0.1.0
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
pycairo==1.21.0
pycodestyle==2.9.1
Pygments==2.13.0
PyGObject==3.42.2
pylint==2.15.3
pyparsing==3.0.9
python-dateutil==2.8.2
pywebview==3.6.3
pyzmq==24.0.1
six==1.16.0
stack-data==0.5.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
tornado==6.2
traitlets==5.4.0
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.14.1
