<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/change_password.css">
</head>
<body>
    <h1 class="title">Change Password</h1>
    <div class="center">
        <div class="inputs">
            <!-- ! a placeholder to username to be filled by javascript -->
            <h2 class="username"></h2>
            <!-- <input type="text" class="user_name input" placeholder="username"> -->
            <input type="password" class="old_password input" placeholder="password">
            <input type="password" class="password1 input" placeholder="password">
            <input type="password" class="password2 input" placeholder="password">
        </div>
        <button class="change_password button">Change Password</button>
    </div>
    <script src="/static/change_password.js"></script>
</body>
</html>